body {
  background-color: #1F618D;
  font-family: sans-serif;
}

header {
  color: white;
  background-color: #2980B9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*box-shadow: 0 4px 6px 0 #1F618D, 0 5px 10px 0 #1F618D;*/
}

header h1 {
  padding: 8px 0 15px 0;
}

.search-box-section {
  margin-top: 4%;
}

.search-box-section .form-control, .search-box-section .btn {
  height: 45px;
  font-weight: bold;
}
